<section>
    <div class='post-form-container'>
        <%= form_with model: @post, url: user_posts_path, method: :post, local: true do |form| %>
        <label>Title: </label><%= form.text_field :title %>
        <label>Text: </label><%= form.text_field :text %>
        <%= form.submit "Add" %>
        <% end %>
    </div>
</section>